
# PYTHON

# artifacts
python/__pycache__/
python/*.py[cod]
python/*$py.class

# C extensions
python/*.so

# environments
python/.env
python/.venv
python/env/
python/venv/

# distribution / packaging
python/.Python
python/build/
python/develop-eggs/
python/dist/
python/downloads/
python/eggs/
python/.eggs/
python/lib/
python/lib64/
python/parts/
python/sdist/
python/var/
python/wheels/
python/share/python-wheels/
python/*.egg-info/
python/.installed.cfg
python/*.egg
python/MANIFEST

# PyInstaller
python/*.manifest
python/*.spec
