# ignore example binary
examples/okmin

# ignore binaries for test cases
tests/test-be-stack
tests/test-fet
tests/test-helpers
tests/test-jmp
tests/test-lod
tests/test-multibyte
tests/test-nop
tests/test-putchar
tests/test-shf
tests/test-skip-lit
tests/test-skip
tests/test-str
tests/test-template
